# Ignore all files and directories in the root
*

# Whitelist specific files in the root
!.gitignore
!README.md
!early-init.el
!init.el
!init-loader.el

# Whitelist the bin/etc/lisp directory and all its contents recursively
!bin/
bin/*
!bin/**

!etc/
etc/*
!etc/**

!lisp/
lisp/*
!lisp/**

# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
